---
---

.post-title {
  font-size: 1.25em;
  color: #363636;
  font-weight: 600;
  line-height: 1.5;
}

.post-date{
  font-weight: 700;
  color: #8F99A3;
  font-size: 0.9em;
  margin-bottom: 20px;
}

